*{
    box-sizing: border-box;
    text-align: center;
}

.wrapper{
    width: 800px;
    padding: 20px;
    margin: 0 auto;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

header, #nav,
section, #aside, 
footer{
    background: #ebebeb;
}

h1, p, #article{
    color: #ebebeb;
    background: #777;
}

header{
    padding: 20px;
    margin-top: -20px;
    margin-bottom: 10px;
}

.clearfix::after{
    content: " ";
    display: block;
    clear: both;
}

section{
    float: left;
    height: 200px;
    margin-bottom: 20px;
    width: 48.5%;
    z-index: 1;
}

#nav{
    padding: 20px;
    margin-bottom: 20px;
}

#aside{
    float: left;
    height: 200px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 48.5%;
}
#article{
    position: absolute;
    z-index: 2;
    width: 27.3%;
    height: 25%;
    margin-left: 10px;
    margin-top: 4.8%;
}

h1{
    z-index: 3;
}

p{
    z-index: 3;
}

footer{
    padding: 20px;
    clear: both;
    margin-bottom: 50px;
}